.student-form{
    height: 200px;
    width: 200px;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
}

.student-form .name {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-form .status{
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}